body {
  background-color: #0A0A16;
}

#content h3 {
    text-align: center;
    font-weight: bold;
    height: 24px;
    line-height: 20px;
    margin: 18px 0 !important;
    padding: 5px 0 5px 10px;
    text-shadow: 2px 2px 3px #7123E2;
}
