<div id="home">
  <div id="home-welcome">
    <%= image_tag("logo.png", class:"logo-home")%>
    <h2>ENTER</h2>
    <h3>DON'T HAVE AN ACCOUNT? REGISTER HERE</h3>
  </div>
  <div id="home-footer">
    <p>LeWagon Batch #766 2021 - Eder Garbin | Fabricio Camargo | Matheus Andrade | Talita Layane</p>
  </div>
</div>
