.cards {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.card-product {
  overflow: hidden;
  background: rgba(36, 19, 29, 0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  margin: 10px;
  background-color: white;
  width: 300px;
}
