.navbar-darkmarket {
  justify-content: space-between;
  background: transparent;
}

.navbar-darkmarket .navbar-collapse {
  flex-grow: 0;
}

.navbar-darkmarket .navbar-brand img {
  padding: 7px;
  width: 120px;
}
