.navbar-darkmarket {
  justify-content: space-between;
  background: #555555;
}

.navbar-darkmarket .navbar-collapse {
  flex-grow: 0;
}

.navbar-darkmarket .navbar-brand img {
  padding: 5px;
  width: 80px;
}
