.navbar-darkmarket {
  justify-content: space-between;
  background: #5E2A4E;
}

.navbar-darkmarket .link-color {
  color: #5E2A4E;
  opacity: 0.5;
}

.navbar-darkmarket .navbar-collapse {
  flex-grow: 0;
}

.navbar-darkmarket .navbar-brand img {
  padding: 5px;
  width: 80px;
}
